.sidebarContainer {
  background-color: #f0f1f3;
  min-height: calc(100vh - 85px);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Tablet Görünümü */
@media screen and (min-width: 768px) {
  .sidebarContainer {
    padding: 80px 40px;
    flex-direction: row; /* Tablette yan yana dizebilir veya boşlukları artırabilirsin */
    gap: 80px;
  }
}

/* Masaüstü Görünümü (Resimlerle çakışmayı önlemek için padding ayarlandı) */
@media screen and (min-width: 1280px) {
  .sidebarContainer {
    padding: 140px 100px 40px 80px;
    flex-direction: column;
    gap: 60px;
    height: 100%;
    z-index: 10;
    position: relative;
  }
}

.title {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #212121;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #9b9faa;
}

.listItem span:last-child {
  color: #212121;
  font-weight: 700;
}

.productsSection {
  display: flex;
  flex-direction: column;
}

.productList {
  padding-left: 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
  list-style-type: none;
}

.productItem {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #9b9faa;
  margin-bottom: 15px;
}

/* Kaydırma çubuğu (Scrollbar) özelleştirmesi */
.productList::-webkit-scrollbar {
  width: 6px;
}

.productList::-webkit-scrollbar-track {
  background: #f0f1f3;
}

.productList::-webkit-scrollbar-thumb {
  background: #264061;
  border-radius: 10px;
}

.emptyMessage {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #9b9faa;
}
