.nav {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #9b9faa;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.link:hover {
  color: #fc842d;
}

.activeLink {
  text-decoration: none;
  color: #212121; 
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
